// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * OLPC XO 1.75 Laptop.
 *
 * Copyright (C) 2018,2019,2020 Lubomir Rintel <lkundrak@v3.sk>
 */

/dts-v1/;
#include "mmp2.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/marvell,mmp2-audio.h>

/ {
	model = "OLPC XO-1.75";
	compatible = "olpc,xo-1.75", "mrvl,mmp2";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		bootargs = "console=tty0 earlyprintk=ttyS2,115200,keep console=ttyS2,115200 root=/dev/sda3 fbcon=nodefer rootwait   lockless_register_fb no_console_suspend ignore_loglevel  pm_debug_messages";

		framebuffer@1fc00000 {
			compatible = "simple-framebuffer";
			reg = <0x1fc00000 (1200 * 900 * 2)>;
			width = <1200>;
			height = <900>;
			stride = <(1200 * 2)>;
			format = "r5g6b5";
			display = <&lcd0>;
			clocks = <&soc_clocks MMP2_CLK_DISP0_LCDC>,
				 <&soc_clocks MMP2_CLK_DISP0>;
		};
	};

	memory@0 {
		available = <0xcf000 0x1ef31000 0x1000 0xbf000>;
		reg = <0x0 0x20000000>;
		device_type = "memory";
	};

	gpio-keys {
		compatible = "gpio-keys";

		lid {
			label = "Lid";
			gpios = <&gpio 129 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			wakeup-source;
		};

		tablet_mode {
			label = "E-Book Mode";
			gpios = <&gpio 128 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_TABLET_MODE>;
			wakeup-source;
		};
	};

	i2c-0 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 109 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 108 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-gpio,timeout-ms = <1000>;
		status = "okay";

		camera@21 {
			compatible = "ovti,ov7670";
			reg = <0x21>;
			reset-gpios = <&gpio 102 GPIO_ACTIVE_LOW>;
			powerdown-gpios = <&gpio 150 GPIO_ACTIVE_LOW>;
			clocks = <&camera0>;
			clock-names = "xclk";

			port {
				ov7670_0: endpoint {
					hsync-active = <1>;
					vsync-active = <1>;
					remote-endpoint = <&camera0_0>;
				};
			};
		};
	};

	i2c-1 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 110 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 161 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-gpio,timeout-ms = <1000>;
		status = "okay";

		dcon@d {
			compatible = "himax,hx8837";
			stat-gpios = <&gpio 100 GPIO_ACTIVE_HIGH>,
				     <&gpio 101 GPIO_ACTIVE_HIGH>;
			load-gpio = <&gpio 142 GPIO_ACTIVE_HIGH>;
			interrupt-parent= <&gpio>;
			interrupts = <124 IRQ_TYPE_EDGE_FALLING>;
			reg = <0x0d>;
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dcon_rgb_in: endpoint {
						remote-endpoint = <&lcd0_rgb_out>;
					};
				};

				port@1 {
					reg = <1>;
					dcon_gettl_out: endpoint {
						remote-endpoint = <&panel_dettl_in>;
					};
				};
			};
		};
	};

	panel {
		compatible = "innolux,ls075at011", "panel-dpi", "simple-panel";
		width-mm = <152>;
		height-mm = <115>;
		label = "LCD";

		panel-timing {
			clock-frequency = <56000000 57000000 58000000>;
			hactive = <1200>;
			vactive = <900>;
			hfront-porch = <26>;
			hback-porch = <24>;
			hsync-len = <6>;
			vfront-porch = <4>;
			vback-porch = <5>;
			vsync-len = <3>;
		};

		port {
			panel_dettl_in: endpoint {
				remote-endpoint = <&dcon_gettl_out>;
			};
		};
	};

	battery {
		compatible = "olpc,xo1.5-battery", "olpc,xo1-battery";
	};

	wlan_reg: fixedregulator0 {
		compatible = "regulator-fixed";
		regulator-name = "wlan";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio 34 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	wlan_pwrseq: pwrseq0 {
		compatible = "mmc-pwrseq-sd8787";
		powerdown-gpios = <&gpio 57 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio 58 GPIO_ACTIVE_HIGH>;
	};

	sound-card {
		compatible = "audio-graph-card";
		label = "OLPC XO";
		dais = <&sspa0_dai>;
		routing = "Headphones", "HPOL",
			  "Headphones", "HPOR",
			  "MIC2", "Mic Jack";
		widgets = "Headphone", "Headphones", "Microphone", "Mic Jack";
		hp-det-gpio = <&gpio 97 GPIO_ACTIVE_HIGH>;
		mic-det-gpio = <&gpio 96 GPIO_ACTIVE_HIGH>;
	};

	soc {
		axi@d4200000 {
			ap-sp@d4290000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "olpc,ap-sp";
				interrupts = <40>;
				reg = <0xd4290000 0x1000>;
				data-gpios = <&gpio 72 GPIO_ACTIVE_HIGH>;
				clk-gpios = <&gpio 71 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		display_reserved: framebuffer {
			compatible = "marvell,mmp2-framebuffer",
				     "marvell,armada-framebuffer";
			size = <0x02000000>;
			alignment = <0x02000000>;
			no-map;
		};
	};
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
};

&rtc {
	status = "okay";
};

&usb_phy0 {
	status = "okay";
};

&usb_otg0 {
	status = "okay";
};

&mmc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	mrvl,clk-delay-cycles = <31>;
	broken-cd;
};

&mmc2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	bus-width = <4>;
	non-removable;
	broken-cd;
	wakeup-source;
	keep-power-in-suspend;
	mmc-pwrseq = <&wlan_pwrseq>;
	vmmc-supply = <&wlan_reg>;
};

&mmc3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc3_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	bus-width = <8>;
	non-removable;
	broken-cd;
	mrvl,clk-delay-cycles = <31>;
};

&twsi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi1_pins>;

	audio-codec@1a {
		compatible = "realtek,alc5631";
		reg = <0x1a>;
		status = "okay";

		port {
			rt5631_0: endpoint {
				mclk-fs = <256>;
				clocks = <&audio_clk MMP2_CLK_AUDIO_SYSCLK>;
				remote-endpoint = <&sspa0_0>;
			};
		};
	};
};

&twsi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi2_pins>;

	rtc@68 {
		compatible = "dallas,ds1338";
		reg = <0x68>;
		status = "okay";
	};
};

&twsi6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi6_pins>;

	accelerometer@1d {
		compatible = "st,lis331dlh", "st,lis3lv02d";
		reg = <0x1d>;
		status = "okay";
	};
};

&lcd0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&lcd0_pins>;
};

&lcd0_rgb_out {
	bus-width = <18>;
	remote-endpoint = <&dcon_rgb_in>;
};

&ssp3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ssp3_pins>;
	#address-cells = <0>;
	spi-slave;
	ready-gpios = <&gpio 125 GPIO_ACTIVE_HIGH>;

	slave {
		compatible = "olpc,xo1.75-ec";
		spi-cpha;
		cmd-gpios = <&gpio 155 GPIO_ACTIVE_HIGH>;
	};
};

&camera0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&camera0_pins>;

	port {
		camera0_0: endpoint {
			remote-endpoint = <&ov7670_0>;
		};
	};
};

&asram {
	status = "okay";
};

&adma0 {
	status = "okay";
};

&audio_clk {
	status = "okay";
};

&sspa0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sspa0_pins>;
	dmas = <&adma0 0>, <&adma0 1>;
	dma-names = "tx", "rx";

	sspa0_dai: port {
		sspa0_0: endpoint {
			remote-endpoint = <&rt5631_0>;
			frame-master;
			bitclock-master;
			dai-format = "i2s";
		};
	};
};

&gpu {
	status = "okay";
};

&pinctrl {
	uart3_pins: uart3-pins {
		pins = "gpio_115", "gpio_116";
		function = "uart3";
	};

	uart4_pins: uart4-pins {
		pins = "gpio_117", "gpio_118";
		function = "uart4";
	};

	mmc1_pins: mmc1-pins {
		mmc1-data {
			pins = "gpio_131", "gpio_132", "gpio_133", "gpio_134";
			function = "mmc1";
			slew-rate = <3>;
			marvell,sleep-output = <0>;
		};

		mmc1-cmd {
			pins = "gpio_136";
			function = "mmc1";
			slew-rate = <3>;
			marvell,sleep-output = <1>;
		};

		mmc1-clk {
			pins = "gpio_139";
			function = "mmc1";
			slew-rate = <3>;
			marvell,sleep-output = <0>;
		};

		mmc1-wp {
			pins = "gpio_141";
			function = "mmc1";
			bias-pull-up;
			marvell,sleep-input;
		};
	};

	mmc2_pins: mmc2-pins {
		mmc2-data-pins {
			pins = "gpio_37", "gpio_38", "gpio_39", "gpio_40";
			function = "mmc2";
			marvell,sleep-input;
		};

		mmc2-cmd-pins {
			pins = "gpio_41";
			function = "mmc2";
			marvell,sleep-output = <0>;
		};

		mmc2-clk-pins {
			pins = "gpio_42";
			function = "mmc2";
			marvell,sleep-output = <0>;
		};
	};

	mmc3_pins: mmc3-pins {
		pins = "nd_io0", "nd_io1", "nd_io10", "nd_io11", "nd_io2",
		       "nd_io3", "nd_io8", "nd_io9", "sm_sclk", "nd_rdy0";
		function = "mmc3";
		marvell,sleep-input;
		slew-rate = <3>;
	};

	twsi1_pins: twsi1-pins {
		pins = "twsi1_scl", "twsi1_sda";
		bias-pull-up;
		marvell,sleep-input;
		slew-rate = <2>;
	};

	twsi2_pins: twsi2-pins {
		pins = "gpio_53", "gpio_54";
		function = "twsi2";
		marvell,sleep-output = <1>;
		//XXX-TWSI;
	};

	twsi6_pins: twsi6-pins {
		pins = "gpio_47", "gpio_48";
		function = "twsi6";
		bias-pull-up;
		marvell,sleep-output = <1>;
	};

	lcd0_pins: lcd0-pins {
		pins = "gpio_74", "gpio_75", "gpio_76", "gpio_77",
		       "gpio_78", "gpio_79", "gpio_80", "gpio_81",
		       "gpio_82", "gpio_83", "gpio_84", "gpio_85",
		       "gpio_86", "gpio_87", "gpio_88", "gpio_89",
		       "gpio_90", "gpio_91", "gpio_92", "gpio_93",
		       "gpio_94", "gpio_95";
		function = "lcd";
		marvell,sleep-output = <0>;
	};

	ssp3_pins: ssp3-pins {
		ssp3-clk-pins {
			pins = "gpio_119";
			function = "ssp3";
			marvell,sleep-output = <0>;
		};

		ssp3-frm-pins {
			pins = "gpio_120";
			function = "ssp3";
			marvell,sleep-output = <1>;
		};

		ssp3-rxd-pins {
			pins = "gpio_121";
			function = "ssp3";
			marvell,sleep-output = <0>;
		};

		ssp3-txd-pins {
			pins = "gpio_122";
			function = "ssp3";
			marvell,sleep-input;
		};
	};

	camera0_pins: camera0-pins {
		camera0-data-pins {
			pins = "gpio_59", "gpio_60", "gpio_61", "gpio_62",
			       "gpio_63", "gpio_64", "gpio_65", "gpio_66";
			function = "ccic";
			marvell,sleep-output = <0>;
		};

		camera0-sync-pins {
			pins = "gpio_67", "gpio_68";
			function = "ccic";
			marvell,sleep-input;
		};

		camera0-clk-pins {
			pins = "gpio_69", "gpio_70";
			function = "ccic";
			marvell,sleep-output = <0>;
		};
	};

	sspa0_pins: sspa0-pins {
		sspa0-clk-pins {
			pins = "gpio_24", "gpio_25";
			function = "i2s";
			marvell,sleep-output = <1>;
		};

		sspa0-sync-pins {
			pins = "gpio_26";
			function = "i2s";
			marvell,sleep-output = <0>;
		};

		sspa0-dout-pins {
			pins = "gpio_27";
			function = "i2s";
			marvell,sleep-output = <1>;
		};

		sspa0-din-pins {
			pins = "gpio_28";
			function = "i2s";
			marvell,sleep-input;
		};
	};
};
